Comparision operators Python practice (Section 1 Udemy course)

In [1]:
2<3 #Single comparision

True

In [2]:
1<2 and 2 < 2 # Chceks both at same time

False

In [3]:
(1<2) or (3<2) # Checls both at same time

True

In [4]:
#for the opposite bolean (i.e. ~ in MATLAB)

In [5]:
not(400>500)

True

In [6]:
2<4

True

In [7]:
12!=12

False

In [8]:
2<3>10

False

In [9]:
2<=3>=1

True

In [10]:
#else and if else statements in Python
#control flow in general (execute code when conditions met)

In [11]:
if 2>3:
    a=2 #needs to be indented
elseif: 2>4
    a=3
else:    
    a=4

IndentationError: unexpected indent (<ipython-input-11-a04189ab4ccc>, line 4)

In [ ]:
hungry= False
if hungry:
    print('Gib Meshi')
else:
    print('I\'m Guuci')

In [ ]:
loc='Store'

if loc=='Auto Shop':
    print('Cars are kool')
elif loc=='Bank':
    print('Monies are awesum')
elif loc=='Store':
    print('Gambarimasyo')
else:
    print('Donno shit')

#Indentation is always important
#all elif and else should be on the same level as if
#Remember to use the : at the end of the the line
#After the condition

Iterative code

In [ ]:
#Sybtax for a loop on a list
my_iterable = [1,2,3]
for item_name in my_iterable:
    print(item_name)
# in is one of the key words used in python for loops

In [ ]:
mylist=[1,2,3,4,5,6,7,8,9,10]
#Don't use a predefined variable name (i.e. list)\
# as the variable name

In [ ]:
for num in mylist:
    print(num)

In [ ]:
for num in mylist:
    #Check for even numbers only
    if num % 2 ==0: #If the remainder is 0
        print(num)
    else:
        print(f'Odd Number: {num}')
        #Using f string literal to replace

In [ ]:
#Now for loops with mathematics

list_sum = 0

for num in mylist:
    list_sum = list_sum + num
    
print(list_sum)

In [ ]:
# Now strings and for loops

mystring = 'Hello World'

for letter in mystring:
    print(letter)
    #letter variable name can be anything
    #The letter variable doesn't even need to be there

In [ ]:
#Often _ is used as a blank variable name (i.e)

for _ in 'Hello World':
    print(_)

In [ ]:
#Now create a tuple and they are specical in foor loops
tup = (1,2,3)

for item in tup:
    print (item)

In [12]:
# Now create a list with tuple pairs in a list
mylist = [(1,2),(3,4),(5,6),(7,8)]
len(mylist)

4

In [16]:
#This data strucutre (lists and tuples together)
#Are used in tuple unpacking to acsess individual items
#For example tuple unpacking for even numbers
for (a,b) in mylist:
    print(b)

2
4
6
8

In [18]:
mylist=[(1,2,3),(4,5,6),(7,8,9)]
mylist

In [19]:
for a,b,c in mylist:
    print(b)
# You can unpack the tuple and get middle number

2
5
8

AttributeError: 'dict' object has no attribute 'item'

In [23]:
d={'k1':1,'k2':2,'k3':3}
#Now create a dictionary and check for loops with it

for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [25]:
for value in d.values():
    print(value)
# You can get the values
# Also note dictionaries are unordered and any
#ordering is conincidenlity

1
2
3

In [28]:
# Next is while loop

x=0

while x<5: 
    print(f'The current value of x is {x}')
  #  x=x+1      
    x += 1 # Another way of writing x=x+1
else: 
        print("x is now greater than 5")

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
x is now greater than 5

In [30]:
# Break, continue and pass functions
x=[1,2,3]

for item in x:
    #comment
    pass # empty keyword to used as a holder

In [34]:
# Next continue loop (goes to top of loop)
mystring='Shaizen'

for letter in mystring:
    if letter =='h':
        continue #Skips the letter h since continue
        # the loop
    print(letter)

S
a
i
z
e
n

In [36]:
# Next continue loop (goes to top of loop)
mystring='Shaizen'

for letter in mystring:
    if letter =='i':
        break # Breaks loop for letter i
    print(letter)

S
h
a

In [37]:
for num in range(10): 
    print(num)
    #Creates series of number

0
1
2
3
4
5
6
7
8
9

In [42]:
for num in range(3, 10,2):  
    print(num)
    #Series from 3 upto but not including 10
    #in step size of 2

3
5
7
9

9

In [41]:
# to create a variable use
mylist=list(range(0,11,2))
mylist

[0, 2, 4, 6, 8, 10]

In [45]:
index_count= 0
word='abcde'

for letter in word:
    print(word[index_count])
    index_count += 1

a
b
c
d
e

In [48]:
# The same for loop can be run using enemuerate

word='abcde'

for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')
    # Creates a tuple of index's and letters

0
a


1
b


2
c


3
d


4
e

In [49]:
mylist1 = [1,2,3]
mylist2 = ['a','b','c']

In [50]:
for item in zip(mylist1,mylist2):
    print (item)
    # Creates a tuple by zipping lists togehter

(1, 'a')
(2, 'b')
(3, 'c')

In [52]:
mylist1 = [1,2,3,4,5,6]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]
           
mylist_tog=list(zip(mylist1,mylist2,mylist3))
mylist_tog

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300)]

In [53]:
'x' in [1,2,3]

False

In [54]:
'x' in ['x','y',2,3] #Check if in list

True

In [56]:
'k1' in {'k1':345,'k2':[31,2]} #Check if in dict

True

In [57]:
d= {'k1':345}

345 in d.keys()

False

In [58]:
mylist = [10,20,30,40,100]

In [60]:
min(mylist) #Syntax hilighted special function

10

In [61]:
max(mylist) #Syntax hilighted special function

100

In [62]:
from random import shuffle # import shuffle from built-in shuffle

In [63]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [65]:
random_list = shuffle(mylist) # in place function 
random_list
# Does not give back anything (NoneType)

In [66]:
mylist # but the list is shuffeled

[2, 3, 10, 9, 4, 6, 1, 7, 8, 5]

In [68]:
from random import randint
mynum = randint(0,100)
mynum

91

In [75]:
result = int(input('Enter a number \n')) 
# By default input is a string
#Number as input

Enter a number
10

In [76]:
type(result)

int

In [78]:
mystring = 'hello' # List comprehension code

mylist = []
for letter in mystring:
    mylist.append(letter)

mylist # Extracts the list letter by letter

['h', 'e', 'l', 'l', 'o']

In [79]:
mylist = [letter for letter in mystring]
# flattened out for loop (same as above)
mylist

['h', 'e', 'l', 'l', 'o']

In [86]:
celcius = [0, 10,20,34.5,37,50]

fahrenheit = [( (9/5)*temp) + 32 for temp in celcius]
fahrenheit # short form of for loop

[32.0, 50.0, 68.0, 94.1, 98.60000000000001, 122.0]

In [89]:
fahrenheit = []

for temp in celcius: 
    fahrenheit.append((9/5)*temp+ 32)
fahrenheit

# This is another version of the for loop above

[32.0, 50.0, 68.0, 94.1, 98.60000000000001, 122.0]

In [92]:
results = [x if x%2==0 else 'ODD' for x in range(0,11)]
results
# Order became different and hard to understand what's going on

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [95]:
# Nested loops are possible in comprehensions

mylist = []

for x in [2,4,6]:
    for y in [1,20,300]:
        mylist.append(x*y)
mylist

[2, 40, 600, 4, 80, 1200, 6, 120, 1800]

In [97]:
# Possible to do the same nested for loop in a single line

mylist = [x*y for x in [2,4,6] for y in [1,20,300]]

In [ ]:
 # Assesment test statement operators comparision operators